.navbar {
  margin-bottom: 2rem;
  color: #000000;

}

.header-links {
  font-size: 20px;
  color: #000000;
  font-weight: 400;
  margin-top: 15px;
  cursor: pointer;
  text-decoration: none;
  margin-left: 2rem;
  }
