#nav-links {
  font-weight: 400;
  font-size: 20px;
  line-height:1.2;
  color: #000000;
  text-decoration: none;
  padding: 0;
  margin-top: 15px;
  display: flex;
  justify-content: center;

}


#header-links {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 2fr;



}

#header-links a:first-child {
  display: flex;
  justify-content: flex-start;
  margin-left: 30px;

}


#header-links a:last-child {
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;


}

.content {
  margin: 24px 0 146px 146px;

}
